<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <defaultDocument>
            <files>
                <add value="dashboard.php" />
            </files>
        </defaultDocument>
        <staticContent>
            <remove fileExtension=".json" />
            <mimeMap fileExtension=".json" mimeType="application/manifest+json" />
        </staticContent>
    </system.webServer>
</configuration>
